<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.min.css' | asset_url | stylesheet_tag }}  
  {{ 'style.css' | asset_url | stylesheet_tag }}   
  
  
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  {% endif %}
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  {% endif %}
  {% if settings.other_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.other_font | remove: 'Google+' }}:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  {% endif %}


   <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}  
  {{ 'header.js' | asset_url | script_tag }} 

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
    </div>             
  </nav>
<div class="wrapper-container">	
    <div class="header-type-2">     
      {% section 'top-bar-type-2' %} 

      {% include 'search-bar-type-2' %}

      <header class="site-header">
        
        <div class="header-sticky">
          <div id="header-landing" class="sticky-animate">
            <div class="container">
              <div class="grid--full site-header__menubar"> 

                {% include 'logo' %}
                <div class="menubar-section order-header">
                  <div class="desktop-megamenu">     
                    {% section 'navigation' %}         
                  </div>
                </div>

                {% section 'header-model-2' %}
              </div>
          </div>
        </div>
        </div>
      </header>  

    </div>
  </div>
    {% if settings.preloader_enable %}<div class="se-pre-con"></div> {% endif %}         
    <div id="PageContainer"></div>   
    <div class="quick-view"></div> 
  
   {% if settings.use_breadcrumb %}
    {% include 'breadcrumb' %} 
    {% endif %}
  {% if template contains 'index'  %}
  {% if settings.show_slideshow  %}
  {% include 'slider-owl' %}
  <div class="dt-sc-hr-invisible-large"></div>
  {% endif %}
  {% endif %}
 
    <main class="main-content">  
     
      {% unless template contains "contact" or template contains "index" or template contains "about" %}
      <div class="dt-sc-hr-invisible-large"></div>
      <div class="wrapper">
        {% endunless %}
        <div class="grid__item">         
          {{ content_for_layout }}		          
        </div>       
        {% unless template contains "contact" or template contains "index" or template contains "about" %}
      </div>
      {% endunless %}
      {% unless template contains "about" or template contains "index" or template contains "contact" %}
      <div class="dt-sc-hr-invisible-large"></div>
      {% endunless %}
    </main>
  

  {% section 'footer-model-3' %}  

  
  {{ 'timber.js' | asset_url | script_tag }}  
  {{ 'core-files.js' | asset_url | script_tag }}  
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}    
  {{ 'shop.js' | asset_url | script_tag }}    
  {{ 'classie.js' | asset_url | script_tag }}    
  {% if template contains 'article' or template contains 'product' %}
  {% if settings.social_sharing_blog or settings.social_sharing_products %}
  {{ 'social-buttons.js' | asset_url | script_tag }}
  {% endif %}
  {% endif %}

    
  {% include 'qmodal' %}
  {% include 'modal-box' %}
  {% include 'currencies' %}
  {% include 'newsletter' %}  
  {% if template contains 'index' %}
  {{ 'wow.js' | asset_url | script_tag }}  
  {% endif %}
  

  
 <script type="text/javascript">
    $('.quick-view .close-window').click(function() {  			
	$('.quick-view').switchClass("open-in","open-out");
	});
</script>  
</body>
</html>


